
.modal-wrapper {
  height: 100vh;
  left: 0;
  overflow: scroll;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

.modal-overlay {
  background-color: rgb(35 35 35 / 80%);
  border: 1px solid #979797;
  bottom: 0;
  cursor: auto;
  height: 100vh;
  left: 0;
  overflow: scroll;
  position: fixed;
  right: 0;
  top: 0;
}

.modal-container {
  flex-direction: row;

    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    position: relative;
    background-color:rgb(22, 27, 34);
    border: 1px solid rgb(48, 54, 61);
    border-radius: 4px;

}

.modal-header {
  padding: 8px 12px;
  border-bottom: 1px solid #646464;

  display: flex;
  justify-content: space-between; 

}

.modal-form {
  padding: 12px;
}